.dois{

    position: absolute;
width: 482px;
height: 800px;
left: 25px;
top: 300px;

background: #BC5357;
}
.um{

    position: absolute;
width: 482px;
height: 800px;
left: 10px;
top: 300px;

background: #92242F;

}
.tres{

    position: absolute;
width: 565px;
height: 800px;
left: 24px;
top: 300px;

background: #9D452F;
}

.quatro{

    box-sizing: border-box;

position: absolute;
width: 500px;
height: 800px;
left: 211px;
top: 200px;
right: 400px;

background: #171985;
/* background: #8C3001; */
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}


.imagem{

    position: absolute;
    width: 750px;
    height: 855px;
    left: 300px;
    top: 0px;
    
    background-image: url(../imagens/cadastro.jpg);

}

.baixo{

    position: absolute;
    width: 1570px;
    height: 99px;
    left: -5px;
    top: 939px;
    
    background: #09090B;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.body{

    background: #A90000;

}